<div class="col-md-8 offset-md-1">
  <h4>Users</h4>
    <table class="table table-striped">
      <table class="books_table">
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td><%=link_to "Show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
</div> 